<!doctype html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/C_132.png">

    <title>互联网家教平台</title>
    <link href="b/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/otherstyle.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
</head>

<body>    
    {{template "menutop.html" .}}
    <!--个人资料-->
    <div class="container" style="margin-top: 20px; background-color: #FFFFFF; padding-top: 20px;">
        <div>
            <!-- Nav tabs -->
            <ul class="aboutul nav nav-tabs" role="tablist">
                <!--<li id="liguanyu" role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">关于泛鲲教育</a></li>
                <li id="liliucheng" role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">网站使用流程</a></li>
                <li id="lijiaoxue" role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">教学/学习流程</a></li>-->
                <li id="liguanyu" role="presentation"><a aria-controls="home" role="tab" data-toggle="tab" onclick="showtap('1')">关于泛鲲教育</a></li>
                <li id="liliucheng" role="presentation"><a aria-controls="profile" role="tab" data-toggle="tab" onclick="showtap('2')">网站使用流程</a></li>
                <li id="lijiaoxue" role="presentation"><a aria-controls="messages" role="tab" data-toggle="tab" onclick="showtap('3')">教学/学习流程</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content" style="width: 78%; float: right; border-left: 1px solid #E4E4E4;">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="row registerimg">
                        <div class=" col-sm-1"></div>
                        <div class="col-sm-11">
                            <img style="width: 60%;" src="images/jjimage.png" />
                        </div>
                    </div>

                    <div class="row">
                        <div class=" col-sm-1"></div>
                        <div class="col-sm-11 regtab">
                            <span class="titlestyle">平台简介</span>
                        </div>
                    </div>
                    <div class=" row registertab" style="margin-bottom: 20px;">
                        <div class=" col-sm-1"></div>
                        <div class=" col-sm-11 odd">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;泛鲲教育平台是行业内领先的互联网教育平台。我们秉承“一切为了孩子”的服务原则。利用便捷高效的互联网和强有协作的研发团队，打造一个专业、高效、安全、便捷、节约的互联网教育平台。<br />
                            <br /><p class="titlestyle">专业</p>
                            <br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们甄选学习成绩优异、教育经验丰富、充满爱心耐心的本科生和研究生，做为平台强有力的师资，保障高效而愉快的一对一辅导。<br />
                            <br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们将每位教师的讲课状况实时记录并展示，同时我们将根据泛鲲教育评级系统按照教师的授课时长、授课效果、学生评价等相关信息对教师进行评级，让您和孩子更直观、快捷地找到真正适合的辅导教师。<br />
                            <br /><p class="titlestyle">高效</p>
                            <br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一对一的辅导是学生提前将需要学习的内容提交给辅导教师，教师根据学生的实际情况有针对性地备课，真正为孩子量身打造，充分体现一对一教育的优势。<br />
                            <br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;同时可以根据自己的时间预约教师，把时间安排地更为合理，让孩子抓紧琐碎时间，随时随地在泛鲲教育平台上快速进行辅导学习。<br />
                            <br /><p class="titlestyle">安全</p>
                            <br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们利用支付宝计费平台和阿里云服务平台，让您的信息更安全。<br />
                            <br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;孩子足不出户就能享受到高品质的一对一教育服务，既免去孩子出门带来的意外风险又避免家教老师上门辅导的不便与隐患。<br />
                            <br /><p class="titlestyle">方便</p>
                            <br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;利用互联网的优势，让孩子学习不再受时间、空间的限制，免去路上奔波，只要登陆泛鲲教育平台一切都迎刃而解。<br />
                            <br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;不用下载客户端，登陆<a href="www.fankunedu.com" style="color:red;">www.fankunedu.com</a> 就可以完成学习任务。<br />
                            <br /><p class="titlestyle">节约</p>
                            <br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;泛鲲教育平台计费方式按照分钟计费，什么时候解决完问题什么时候就可以下课，上多长时间课记多少费。<br />
                            <br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;高效的学习方法，智能的计费体系，既能为孩子节约宝贵的学习时间也能为您节省没必要的资金浪费。<br />
                            <br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p style="font-size:18px; color:#fe9627; font-weight:bold; text-align:center;">欢迎各位家长学生登陆泛鲲教育平台，收获知识，杨帆远航！</p><br />
                            
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">

                    <div class="row" style="margin-top: 30px;">
                        <div class=" col-sm-1"></div>
                        <div class="col-sm-10 regtab">
                            <span>使用流程</span>
                        </div>
                        <div class=" col-sm-1"></div>
                    </div>
                    <div class=" row registertab" style="margin-bottom: 20px;">
                        <div class=" col-sm-1"></div>
                        <div class=" col-sm-10 odd">
                            <p style="font-size:18px; color:#fe9627; font-weight:bold; text-align:center; margin-bottom:20px;">欢迎各位家长学生登陆泛鲲教育平台，收获知识，杨帆远航！</p>
                            <p>首先需要您花一分钟时间进行注册。您即将可享受到高品质、高素质教师为您进行的在线一对一的教育服务。</p><br />
                            <p>注册成功登陆后，您可以点击右上角您的“名字”，即可进入到您的个人主页内容，点击“修改材料”，即可把您的信息继续完善。</p><br />
                            <p>同时主页上会呈现您的预约课程情况，所问问题情况，老师留言回复情况和您的资金情况。让您更直观的看到您所需了解的各种信息。</p><br />
                            <br />
                            <div class="row registerimg">
                                <div class="rol-sm-10">
                                    <img style="width: 90%;" src="images/content1.jpg" />
                                </div>
                            </div><br />
                            <div class="row registerimg">
                                <div class="rol-sm-10">
                                    <img style="width: 70%;" src="images/about1.jpg" />
                                </div>
                            </div>
                            <br />
                            <p>登陆后您可以点击，“找老师”即可查看老师列表信息。</p>
                            <br />
                            <p>根据自己所在学龄段，所需辅导科目来选择合适的老师。</p>
                             <br />
                            <p>教师级别是平台根据教师在本平台授课时长、授课表现进行系统评定。当然，所有我们平台呈现的老师都是有着丰富教育经验的老师，期待您和老师度过每一堂愉快、高效的一对一课程。</p>
                             <br />
                            <div class="row registerimg">
                                <div class="rol-sm-10">
                                    <img style="width: 90%;" src="images/content2.jpg" />
                                </div>
                            </div>
                            <br />
                            <p>点击教师名字即可看到老师的详细信息.</p><br />
                            <p style="font-weight:bold;">如果您想更好的了解老师:</p>
                            <br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;· 老师在线的情况下，您可以点击<span style="color:#fe9627; font-weight:bold;">“立即试听”</span>，与老师面对面交谈。<br /><br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;· 老师不在线的情况下，您可以给老师留言。
                            <br /><br />
                            <p style="font-weight:bold;">如果您已经了解了这个老师:</p><br />
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;· 您可以点击<span style="color:#fe9627; font-weight:bold;">“预约课程”</span>，按照您和老师的时间约课。约课时可以把您想学习的内容以图片或者文字上传给老师。同时您所约的课程会显示在您主页<span style="color:#fe9627; font-weight:bold;">“预约课程”</span>中，上课前10分钟内您可以点击上课进入一对一教学课堂。<br /><br />
                            <div class="row registerimg">
                                <div class="rol-sm-10">
                                    <img style="width: 90%;" src="images/content3.png" />
                                </div>
                            </div>
                            <br />
                            <p style="font-weight:bold;">如果您还没有中意的老师:</p><br />
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;· 您可以回到<span style="color:#fe9627; font-weight:bold;">“找老师”</span>页面中，在推荐好老师栏目中，填写您需要的老师信息，我们将寻找适合您的老师推荐给您。<br /><br /><br />
                            <div class="row registerimg">
                                <div class="rol-sm-10">
                                    <img style="width: 70%;" src="images/about2.jpg" />
                                </div>
                            </div><br />
                            <p>您可以在首页中点击<span style="color:#fe9627; font-weight:bold;">“问难题”</span>，您需要选择科目，老师后。将您的问题可以通过文字内容或者上传图片内容告知老师。老师解答难题后会记录并在今后的课程中做相应的知识点侧重调整.</p><br />
                            <p style="font-weight:bold;">注：值得注意的是，与以往的答疑软件不同。您在平台提出的问题，老师会更有针对性地做出引导，以点带面，由面而体，抓住关键点并串联所有与此相关的知识点，
                                在老师的一对一引导下，让你自己得出正确答案。真正地举一反三、了然于心、事半而功倍!让学习成为一件简单而快乐的事!</p><br />
                            <div class="row registerimg">
                                <div class="rol-sm-10">
                                    <img style="width: 70%;" src="images/about3.jpg" />
                                </div>
                            </div><br />
                            <p>您可以点击<span style="color:#fe9627; font-weight:bold;">“精彩呈现”</span>，学霸秘籍，学霸心得都在其中！</p><br /><br />
                            <p style="font-size:18px; text-align:center; color:#fe9627; font-weight:bold;">我们将用真诚高效的服务，为您在学习的道路上保驾护航！</p>













                           
                            
                            <br />
                        </div>
                    </div>

                </div>
                <div role="tabpanel" class="tab-pane" id="messages">
                    <div>
                        <div>
                            <div class="modal-header">
                                <ul id="tags">
                                    <li class="selectTag" id="li1"><a onclick="selectTagpass('tagContent0',this)" href="javascript:void(0)">学习流程</a> </li>
                                    <li id="li2"><a onclick="selectTagpass('tagContent1',this)" href="javascript:void(0)">教学流程</a> </li>
                                </ul>
                            </div>
                            <div class="modal-body" id="divcoutent">
                                <div id="tagContent">
                                    <div class="tagContents selectTag" id="tagContent0" style="text-align: center;">
                                        <img style="width: 100%;" src="images/stuprocess.png" />
                                    </div>
                                </div>
                                <div class="tagContents" id="tagContent1" style="display:none;">
                                    <img style="width: 100%;" src="images/teacherprocess.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><p id="NowTapid" style="display:none;">{{.NowTapid}}</p>
    <script src="b/js/jquery.min.js"></script>
    <!--<script src="b/js/bootstrap.min.js"></script>-->
    <script type="text/javascript" src="js/indexjs.js"></script>
    <script type="text/ecmascript">
        //NowTapid
        window.onload = function () {
            getuser();
            setTitleOnSelect(0);
            var nowseltapid = document.getElementById("NowTapid").innerHTML;
            showtap(nowseltapid);
        }

        function showtap(tapid) {
            if (tapid == "1") {
                document.getElementById("liguanyu").className = "active";
                document.getElementById("liliucheng").className = "";
                document.getElementById("lijiaoxue").className = "";
                document.getElementById("home").style.display = "block";
                document.getElementById("profile").style.display = "none";
                document.getElementById("messages").style.display = "none";
            } else if (tapid == "2") {
                document.getElementById("liguanyu").className = "";
                document.getElementById("liliucheng").className = "active";
                document.getElementById("lijiaoxue").className = "";
                document.getElementById("home").style.display = "none";
                document.getElementById("profile").style.display = "block";
                document.getElementById("messages").style.display = "none";
            } else if (tapid == "3") {
                document.getElementById("liguanyu").className = "";
                document.getElementById("liliucheng").className = "";
                document.getElementById("lijiaoxue").className = "active";
                document.getElementById("home").style.display = "none";
                document.getElementById("profile").style.display = "none";
                document.getElementById("messages").style.display = "block";
            }
        }

        function showtappic(picid) {
            if (picid == "1") {

            } else if (picid == "2") {

            }
        }
    </script>
</body>
    {{template "footer.html" .}}    
</html>
