<!doctype html>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/C_132.png">

    <title>互联网家教平台</title>
    <link href="b/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/otherstyle.css" />

</head>

<body>
	<div id="pagetopb">
    
    <!--main-->
          <div class="container" style=" margin-top:20px; background-color:#FFFFFF;">
              <div class="row">
                <div class="col-sm-3 col-md-2">
                    <div class="probletable" >
                    		<img src="images/teacherimg1.jpg" />
                            <p>ID 1233321</p>
                            <span>王大全</span>
                            <p>石家庄二中</p>
                    </div>
                </div>
                <div class="col-sm-9 col-md-10 leftdiv">
                       <div class="row porlinkans">
                       		<div class="col-sm-1"></div>
                            <div class="col-sm-8">
                                   <span>问题: 怎么学好文科？</span>
                            </div>
                        </div>
                       <div class="row messrights"  style="margin-top:20px;">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                            <p>回答问题</p> 
                                   <textarea class="evaarea">123</textarea> </div>
                            </div>
                       </div>
                       <div class="row messtexts">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                   <input  type="button" class="evabtn" style=" float:right;" value="提交">
                            </div>
                       </div>  
                </div>
              </div>
          </div>
      </div>

<script src="b/js/jquery.min.js"></script>
<script src="b/js/bootstrap.min.js"></script>
</body>
</html>
