<!doctype html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/C_132.png">
    <title>互联网家教平台</title>
    <link href="b/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/otherstyle.css" />
</head>
<body>
    {{template "menutop.html" .}}
    <div id="pagetopb">
        <!--个人资料-->
        <div class="container containers" style="margin-top: 20px; background-color: #FFFFFF;">
            <div class="row registerimg">
                <div class="rol-sm-10">
                    <img style="width: 60%;" src="images/jjimage.png" />
                </div>
            </div>
            <div class="row">
                <div class=" col-sm-1"></div>
                <div class="col-sm-10 regtab">
                    <span>平台简介</span>
                </div>
                <div class=" col-sm-1"></div>
            </div>
            <div class=" row registertab" style="margin-bottom: 20px;">
                <div class=" col-sm-1"></div>
                <div class=" col-sm-10 odd">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;泛鲲教育平台是行业内领先的互联网教育平台。我们秉承“教育工作容不得半点马虎”的办学原则。利用互联网的优势和自身强有力的研发团队优势，打造一个高品质、专业的、安全的、高效的、智能的互联网教育平台。<br />
                    <p>高品质、更专业</p>
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们甄选学习成绩优秀、有一对一教育经验的本科生和研究生，做为平台的师资。<br />
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们将每个教师的讲课状况实时记录并展示；同时我们将根据泛鲲教育评级系统按照教师的讲课时长、讲课效果等相关信息进行评级；能够让您更直观的找到适合自己的教师。<br />
                    <p>安全保障</p>
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;让您的孩子不用出门就能享受到高品质的一对一教育服务，免去孩子出门带来的意外风险。<br />
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;不用担心陌生人来家中带来的生活不便和家庭安全问题。<br />
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们利用互联网的xxxx技术，让您的账户安全无忧。<br />
                    <p>更高效、更智能</p>
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;利用互联网的优势，让您不再受空间的限制，无论您走到哪里，只要登陆泛鲲教育平台一切都不是问题。<br />
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;利用泛鲲教育平台提供的服务可以合理的规划自己的时间，按照自己的时间约定老师；同时能够将自己需要学习的内容提前知会老师，老师将根据内容提前备课，节约您的上课时间提高您的学习效率。<br />
                </div>
            </div>
        </div>
    </div>
    {{template "footer.html" .}}
    <script src="b/js/jquery.min.js"></script>
    <!--<script src="b/js/bootstrap.min.js"></script>-->
</body>
</html>
