<!doctype html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/C_132.png">
    <title>互联网家教平台</title>
    <link href="b/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/otherstyle.css" />
</head>
<body>
    {{template "menutop.html" .}}
    <div id="pagetopb">
        <div class="container containers" style="margin-top: 20px; background-color: #FFFFFF;">
            <div class="row" style="margin-top: 30px;">
                <div class=" col-sm-1"></div>
                <div class="col-sm-10 regtab">
                </div>
                <div class=" col-sm-1"></div>
            </div>
            <div class=" row" style="margin-bottom: 20px;">
                <div class=" col-sm-1"></div>
                <div class=" col-sm-10 odd" style="text-align: center; color: #FFA403; font-size: 18px;">
                    <div class="row registerimg">
                        <div class="rol-sm-10">
                            <img style="width: 40%;" src="images/wckc.jpg" />
                        </div>
                    </div>
                    <p>试听结束</p>
                    <br />
                </div>
            </div>
        </div>
    </div>
    {{template "footer.html" .}}
    <script src="b/js/jquery.min.js"></script>
    <script src="b/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery-1.3.1.js"></script>
    <script type="text/javascript" src="js/orange.js"></script>
    <script type="text/javascript">
        var onlinelistenid = getCookie("onlinelistenid");//获取当前试听结束的信息主键id
        var userid = getCookie("userid")//获取登录用户主键id
        var identityid = getCookie("identityid");
        //当老师进入此页面时释放此试听room
        window.onload = function () {
            if (userid == null || userid <= 0) {
                window.location.href = "http://{{.Website}}/";
            }
            if (identityid == 1) { //如果是老师，释放此试听课堂
                var delroom = "http://{{.Website}}/orange/onlinetrylisten/DeleteOnlinetrylisten/" + onlinelistenid;
                $.getJSON(delroom, function (data) {
                    if (data == "OK") {
                        alert("试听结束！");
                    } else {
                        alert("请去个人信息-我的试听：手动结束试听！");
                    }
                });
            } else if (identityid <= 3 && identityid >= 2) {//如果是学生记录结束试听时间
                var gettry = "http://{{.Website}}/orange/onlinetrylisten/GetOnlinetrylistenOneBysidLast/" + userid;
                $.getJSON(gettry, function (data) {
                    if (data != null && data["Id"] > 0) {
                        var upstry = '{"Tid":' + data["Tid"] +
                                     ',"Sid":' + data["Sid"] +
                                     ',"StartTime":"' + getInsertDate(data["StartTime"]) +
                                     '","EndTime":"' + getInsertNowDate() +
                                     '","StuStartTime":"' + getInsertDate(data["StuStartTime"]) +
                                     '","StuEndTime":"' + getInsertNowDate() +
                                     '","ClassroomId":"' + data["ClassroomId"] +
                                     '","StudentInId":"' + data["StudentInId"] +
                                     '","TeacherInId":"' + data["TeacherInId"] +
                                     '"}';
                        $.post("http://{{.Website}}/orange/onlinetrylisten/UpdateOnlinetrylistenById/"+data["Id"], upstry,
                            function (updata) {
                                if (updata == "OK") {
                                } 
                        });
                    }
                });
            }
        }
    </script>
</body>
</html>
