<!doctype html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/C_132.png">
    <title>在线教育</title>
    <link href="b/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/otherstyle.css" />
</head>
<body>

    <iframe id="myframe" style="width: 100%" height="1000" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"></iframe>

    <p id="listenid" style="display: none">{{.listenid}}</p>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/indexjs.js"></script>
    <script type="text/javascript">
        var userid = getCookie("userid")//获取登录用户主键id
        var listenid = document.getElementById("listenid").innerText;
        window.onload = function () {
            //alert(userid);
            if (userid == null || userid <= 0) {
                window.location.href = "http://{{.Website}}/";
            }
            chushi();
        }

        function chushi() {
            var getblack = "http://{{.Website}}/orange/onlinetrylisten/GetListenTecher/" + listenid;
            //alert(getblack);
            $.getJSON(getblack, function (data) {
                //alert(data["url"]);
                ifrsrc(data["url"]);

            });
        }

        window.onbeforeunload = onbeforeunload_handler;
        window.onunload = onunload_handler;
        function onbeforeunload_handler() {
            var warning = "课程会结束";
            return warning;
        }

        function onunload_handler() {
            var warning = "谢谢光临";
            //alert(warning);
        }
        function ifrsrc(da) {
            document.getElementById("myframe").src = da;
        }
        //关闭时释放
        function deletemeeting() {

        }
    </script>
</body>
</html>
