<!doctype html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/C_132.png">
    <title>在线教育</title>
    <link href="b/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/otherstyle.css" />
</head>
<body>
    {{template "menutop.html" .}}

   

    <div id="pagetopb">

        <!--main-->
        <div class="container" style="margin-top: 20px; background-color: #FFFFFF;">
            <div class="row">
                <div class="col-sm-3 col-md-2">
                    <div class="probletable">
                        <img src="{{.AvatarPath}}" />
                        <p>ID {{.Id}}</p>
                        <span>{{.UserName}}</span>
                        <p>{{.SchoolName}}</p>
                        <p id="usermessageid" style="display: none">{{.messid}}</p>
                        <!--第一条留言的主键id-->
                        <p id="sid" style="display: none">{{.studentid}}</p> <!--第一条学生主键id-->
                       
                        <p id="tid" style="display: none">{{.teacherid}}</p><!--第一条老师主键id-->
                        
                    </div>
                </div>
                <form id="form_memo" method="post" action="http://{{.Website}}/orange/usermessage/AddUsermessageOther/"  onsubmit="return check()">
                    <div class="col-sm-9 col-md-10 leftdiv">
                        <div id="replaceContent">
                        </div>
                        <div class="row messtextsn" style="margin-top: 40px;">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <textarea class="form-control evaarea" id="messCounenttext" name="Contents" form="form_memo"></textarea>
                                
                                <input type="hidden" name="MessageId" id="MessageId" value="{{.messid}}" />
                                <input type="hidden" name="ActiveUserId" id="ActiveUserId" value="" />
                                <input type="hidden" name="PassiveUserId" id="PassiveUserId" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="row messtexts">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <input type="submit" class="evabtn" style="float: right;" value="提交">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--footer-->

    {{template "footer.html" .}}
   
    <script src="b/js/jquery.min.js"></script>
    <!--<script src="b/js/bootstrap.min.js"></script>-->
    <script type="text/javascript" src="js/indexjs.js"></script>
    <script type="text/javascript" src="js/orange.js"></script>
    <script type="text/javascript">
        var userid = getCookie("userid")//获取登录用户主键id
        var identityid = getCookie("identityid");
        window.onload = function () {
            getuser();
            setTitleOnSelect(4);
            if (userid == null || userid <= 0) {
                window.location.href = "http://{{.Website}}/";
            }
            //绑定留言与回复内容
            document.getElementById("replaceContent").innerHTML = "";
            document.getElementById("replaceContent").innerHTML = "{{.stuTeaContents}}";
            
            if (identityid == 1) {//老师
                document.getElementById("ActiveUserId").value = "{{.teacherid}}";
                document.getElementById("PassiveUserId").value = "{{.studentid}}";
            } else if (identityid == 2 || identityid == 3) {
                document.getElementById("ActiveUserId").value = "{{.studentid}}";
                document.getElementById("PassiveUserId").value = "{{.teacherid}}";
            }
        }

        //添加一条回复信息
        function addUsermessage() {
            var uid1 = document.getElementById("sid").innerText;
            var uid2 = document.getElementById("tid").innerText;
            var messid = document.getElementById("usermessageid").innerText;
            var messContent = document.getElementById("messCounenttext").value;
            if (trim(messContent) + "" == "") {
                alert("回复内容不能为空！");
                return;
            }
            var addmessageModel = '';
            if (identityid == 1) {//老师
                addmessageModel = '{"ActiveUserId":' + uid2 +
                                    ',"PassiveUserId":' + uid1 +
                                    ',"MessageId":' + messid +
                                    ',"Contents":"' + messContent +
                                    '","States":0' +
                                    ',"MesTime":"' + getInsertNowDate() +
                                    '"}';
            } else {
                addmessageModel = '{"ActiveUserId":' + uid1 +
                                    ',"PassiveUserId":' + uid2 +
                                    ',"MessageId":' + messid +
                                    ',"Contents":"' + messContent +
                                    '","States":0' +
                                    ',"MesTime":"' + getInsertNowDate() +
                                    '"}';
            }
            $.post("http://{{.Website}}/orange/usermessage/AddUsermessage/", addmessageModel,
                    function (data) {
                        //alert(data["id"]);
                        if (data["id"] > 0) {
                            alert("添加回复成功！");
                            if (identityid == 1) {
                                window.location.href = "http://{{.Website}}/orange/Main/GetUserMessageListTeacher/" + messid;
                            } else {
                                window.location.href = "http://{{.Website}}/orange/Main/GetUserMessageList/" + messid;
                            }

                        } else {
                            alert("添加回复失败！");
                        }
                    });
        }

        //提交前验证是否输入留言内容
        function check() {
            var message = trim(document.getElementById("messCounenttext").value);
            if (message == "") {
                alert("留言内容不能为空，请输入留言信息！");
                return false;
            } else {
                return true;
            } 
        }
        </script>
</body>
</html>
