<!doctype html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/C_132.png">
    <title>在线教育</title>
    <link href="b/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/otherstyle.css" />
</head>

<body>
    {{template "menutop.html" .}}
    <div id="pagetopb">
        <!--个人资料-->
        <div class="container containers" style="margin-top: 20px; background-color: #FFFFFF; height: 700px;">
            <div class="row" style="margin-top: 30px;">
                <div class=" col-sm-1"></div>
                <div class="col-sm-10 regtab" style="">
                    <img src="images/zcimg.png" />
                    <span>忘记密码</span>
                </div>
                <div class=" col-sm-1"></div>
            </div>
            <div class=" row registertab">
                <div class=" col-sm-3"></div>
                <div class=" col-sm-8 odd">
                    <span style="margin-left: 40px;">手机号:</span>
                    <input type="text" class="regtexts" id="upuserphone" onblur="upColor()">
                </div>
            </div>
            <div class="row">
                <div class=" col-sm-3">&nbsp;</div>
                <div class=" col-sm-8 odd">
                    <span style="margin-left: 40px;">验证码:</span>
                    <input type="text" class="yzmtexts" id="upyanzhengma">
                    <input type="button" class="yzmbtn" value="点击获取验证码" id="getyanzheng" onclick="getYzCode()">
                </div>
            </div>
            <div class="row">
                <div class=" col-sm-3"></div>
                <div class=" col-sm-8 odd">
                    <span style="margin-left: 40px;">新密码:</span>
                    <input type="text" class="regtexts" id="newpass1">
                </div>
            </div>
            <div class="row">
                <div class=" col-sm-3"></div>
                <div class=" col-sm-8 odd">
                    再次输入新密码:                          	
                    <input type="text" class="regtexts" id="newpass2">
                </div>
                <div class=" col-sm-1"></div>
            </div>
            <div class="row">
                <div class=" col-sm-3"></div>
                <div class=" col-sm-8 odd" style="margin-bottom: 35px;">
                    <input style="margin-left: 90px;" type="button" class="regbtns" value="确认" id="btnSavePass" onclick="saveUserPass()">
                </div>
            </div>
        </div>
    </div>
    {{template "footer.html" .}}
    <script src="b/js/jquery.min.js"></script>
    <script src="b/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/personal.js"></script>
    <script type="text/javascript" src="js/orange.js"></script>
    <script type="text/javascript" src="js/indexjs.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            setTitleOnSelect(0);
        }
        var phoneistorf = 0;//false
        var xianColor = "#fe9627";
        var yinColor = "#c4c4c4";
        //验证手机号码，并且改变获取验证码按钮的颜色
        function upColor() {
            var phone = document.getElementById("upuserphone").value;
            var re = /^1\d{10}$/;
            if (re.test(phone)) {
                document.getElementById("getyanzheng").style.backgroundColor = xianColor;//手机号码输入正确获取验证码按钮变为显色
                phoneistorf = 1;
            } else {
                document.getElementById("getyanzheng").style.backgroundColor = yinColor;//手机号码输入错误获取验证码按钮不显色
                phoneistorf = 0;
            }
        }
        //发送验证码到用户手机
        function getYzCode() {
            var phone = document.getElementById("upuserphone").value;
            var yanzhengpass = "http://{{.Website}}/orange/userinformation/GetUserinformationPhone/" + phone;
            $.getJSON(yanzhengpass, function (datauser) {
                if (datauser != null && datauser["IphoneNum"] != "" && datauser["IphoneNum"] + "" != "undefined") {
                    //发送验证码
                    if (phoneistorf == 1) {
                        $.getJSON("http://{{.Website}}/orange/verification/GetVerification/" + phone, function (data) {
                            alert("发送成功");
                        });
                    } else {
                        alert("手机号输入不正确！请输入正确手机号码！");
                    }
                } else {
                    alert("此手机号无用户使用，请重新确定手机号！");
                }
            });
        }

        //忘记密码重新修改密码
        function saveUserPass() {
            var phone = document.getElementById("upuserphone").value;
            var useryanzheng = document.getElementById("upyanzhengma").value;
            var newpass1 = trim(document.getElementById("newpass1").value);
            var newpass2 = trim(document.getElementById("newpass2").value);
            if (trim(phone) == "") { alert("手机号不能为空！"); return; }
            if (trim(useryanzheng) == "") { alert("验证码不能为空！"); return; }
            if (trim(newpass1) == "") { alert("请输入新密码！"); return; }
            if (trim(newpass2) == "") { alert("请再次输入重复新密码！"); return; }
            if (newpass1 != newpass2) { alert("两次输入的新密码不一样！"); return; }

            //先验证验证码是否正确
            var allCode = "http://{{.Website}}/orange/verification/GetVerificationByPhone/" + phone;
            $.getJSON(allCode, function (data) {
                if (data["VerCode"] == "") {
                    alert("暂无验证码！");
                } else if (useryanzheng == data["VerCode"]) {
                    var yanzhengpass = "http://{{.Website}}/orange/userinformation/GetUserinformationPhone/" + phone;
                    $.getJSON(yanzhengpass, function (datauser) {
                        if (datauser != null && datauser["IphoneNum"] != "") {
                            var upuser = '{' +
                                '"UserName":"' + datauser["UserName"] + '",' +
                                '"IphoneNum":"' + datauser["IphoneNum"] + '",' +
                                '"LoginPassword":"' + newpass1 + '",' +
                                '"PayPassword":"' + datauser["PayPassword"] + '",' +
                                '"UserSex":"' + datauser["UserSex"] + '",' +
                                '"SchoolId":' + datauser["SchoolId"] + ',' +
                                '"SchoolAgeId":' + datauser["SchoolAgeId"] + ',' +
                                '"UserDegree":' + datauser["UserDegree"] + ',' +
                                '"UserLocation":' + datauser["UserLocation"] + ',' +
                                '"SeniorLocation":' + datauser["SeniorLocation"] + ',' +
                                '"UserLevelId":' + datauser["UserLevelId"] + ',' +
                                '"LevelYear":' + datauser["LevelYear"] + ',' +
                                '"IdentityId":' + datauser["IdentityId"] + ',' +
                                '"GradeId":' + datauser["GradeId"] + ',' +
                                '"UnitPrice":' + datauser["UnitPrice"] + ',' +
                                '"Professional":"' + datauser["Professional"] + '",' +
                                '"Mailbox":"' + datauser["Mailbox"] + '",' +
                                '"ParentMailbox":"' + datauser["ParentMailbox"] + '",' +
                                '"StudyDifficult":"' + datauser["StudyDifficult"] + '",' +
                                '"AvatarPath":"' + datauser["AvatarPath"] + '",' +
                                '"UserHobby":"' + datauser["UserHobby"] + '",' +
                                '"Remarks":"' + datauser["Remarks"] + '",' +
                                '"BriefIntroduction":"' + datauser["BriefIntroduction"] + '",' +
                                '"RegisteredTime":"' + getInsertDate(datauser["RegisteredTime"]) +
                            '"}';
                            $.post("http://{{.Website}}/orange/userinformation/UpdateUserinformationById/" + datauser["Id"], upuser,
                               function (data) {
                                   if (data == "OK") {
                                       alert("修改成功！请去首页登录");
                                       window.location.href = "http://{{.Website}}/";
                                   } else {
                                       alert("修改失败！");
                                   }
                               });
                        } else {
                            alert("此手机号无用户使用，请重新确定手机号！");
                        }
                    });
                }
            });
        }
    </script>
</body>
</html>
