<!doctype html>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/C_132.png">
    <title>在线教育</title>
    <link href="b/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/otherstyle.css" />
</head>
<body>

<!--余额支付弹出层--> 
<div class="modal fade" id="loginpop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      		余额支付
      </div>
      <div class="modal-body">
      	<div id=tagContent>
              <div class="tagContents selectTag" id=tagContent0>
                <form>
                  <div class="form-group" style="text-align:center; font-size:16px; color:#fe9627;">
                    <label for="recipient-name" class="control-label">余额:</label>
                    ￥120.00
                  </div>
                  <div class="form-group">
                    <table style="width:100%;" cellpadding="0">
                    		<tr>
                            	<td>
                                	<input type="text" class="mimatext" id="recipient-name">
                                </td>
                                <td>
                                	<input type="text" class="mimatext" id="recipient-name">
                                </td>
                                <td>
                                	<input type="text" class="mimatext" id="recipient-name">
                                </td>
                                <td>
                                	<input type="text" class="mimatext" id="recipient-name">
                                </td>
                                <td>
                                	<input type="text" class="mimatext" id="recipient-name">
                                </td>
                                <td>
                                	<input type="text" class="mimatext" id="recipient-name">
                                </td>
                            </tr>
                    </table>
                  </div>
                </form>
              </div>
        </div>
      </div>
      <div class="modal-footer" style="text-align:center;">
      	<button type="button" style="width:50%;" class="btn btn-warning">支付</button>
        <!--<button type="button" style="width:30%;"  class="btn btn-default" data-dismiss="modal">关闭</button>-->
        
      </div>
    </div>
  </div>
</div>

<!--充值弹出层--> 
<div class="modal fade" id="yepop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      		余额不足
      </div>
      <div class="modal-body">
      	<div id=tagContent>
              <div class="tagContents selectTag" id=tagContent0>
                <form>
                  <div class="form-group" style="text-align:center; font-size:16px; color:#fe9627;">
                    <label for="recipient-name" class="control-label">您的账户余额不足，请充值</label>
                  </div>
                  <div class="form-group">
                    <input type="radio"> 支付宝
                  </div>
                </form>
              </div>
        </div>
      </div>
      <div class="modal-footer" style="text-align:center;">
      	<button type="button" style="width:50%;" class="btn btn-warning">充值</button>
        <!--<button type="button" style="width:30%;"  class="btn btn-default" data-dismiss="modal">关闭</button>-->
        
      </div>
    </div>
  </div>
</div>

	<div id="pagetopb">
    <!--main-->
    <div class="container" style=" margin-top:20px; background-color:#FFFFFF;">
    <div class="row">

       		<table class="paymenttable">
            	<tr>
                    	<th class="tabtop">
                        	课程类型
                        </th>
                        <th>
                        	辅导老师
                        </th>
                        <th>
                        	数量
                        </th>
                        <th>
                        	上课日期
                        </th>
                        <th>
                        	上课时间
                        </th>
                        <th>
                        	优惠
                        </th>
                        <th>
                        	单价
                        </th>
                    </tr>
                    
                    <tr>
                    	<td>
                        	高中数学
                        </td>
                        <td>
                        	王老师
                        </td>
                        <td>
                        	2
                        </td>
                        <td>
                        	2015-01-02
                        </td>
                        <td>
                        	19:00---20:00
                        </td>
                        <td>
                        	无优惠
                        </td>
                        <td>
                        	¥45.00
                        </td>
                    </tr>
                    <tr>
                    	<td>
                        	高中数学
                        </td>
                        <td>
                        	王老师
                        </td>
                        <td>
                        	2
                        </td>
                        <td>
                        	2015-01-02
                        </td>
                        <td>
                        	19:00---20:00
                        </td>
                        <td>
                        	无优惠
                        </td>
                        <td>
                        	¥45.00
                        </td>
                    </tr>
                    <tr>
                    	<td colspan="5">
                        	请选择支付方式: 
                            <!--<input type="radio"> 支付宝
                            <input type="radio" > 网银
                            <select name="" style="margin-left:10px;"> 
                                <option value="0">中国农业银行</option> 
                                <option value="1">中国建设银行</option> 
                            </select>  -->
                            <input type="radio"> 余额支付
                        </td>
                        <td colspan="2" style="float:;">
                        	总价:<span>¥ 90.00</span>
                        </td>
                    </tr>
                    <tr>
                    	<td colspan="7">
                            <a data-toggle="modal" data-target="#loginpop" class="probtn">提交订单</a>
                        </td>
                    </tr>
           </table>

       </div>
       </div>
      </div>


<script src="b/js/jquery.min.js"></script>
<script src="b/js/bootstrap.min.js"></script>
</body>
</html>
