<!doctype html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://v3.bootcss.com/favicon.ico">
    <title>在线教育</title>
    <link href="b/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/otherstyle.css" />
    <link rel="stylesheet" href="css/jquery.range.css">
</head>

<body>
    {{template "menutop.html" .}}
    <!--删除弹出层-->
    <div class="modal fade" id="delmain" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 style="font-size: 16px; font-weight: bold;" class="modal-title">提示</h3>
                </div>
                <div class="modal-body" style="text-align: center; padding: 30px; font-size: 15px;">
                    对不起，您还没有建立授课关系的老师，不能进行提问！
             
                </div>
                <div class="modal-footer" style="text-align: center;">
                    <a href="teacher.html" style="width: 30%;" class="btn btn-warning">去找老师</a>
                    <button type="button" style="width: 30%;" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <div id="bg" class="bg" style="display: none;"></div>
    <!--弹出层结束-->
    <div id="pagetopb">
        <!--个人资料-->
        <div class="container containers" style="margin-top: 20px; background-color: #FFFFFF;">
            <div class=''>
                <div class="row problemtab">
                    <div class="col-sm-3 problemtables">
                        <span>老师:</span>
                        <select class="sel" id="selteacher">
                            <option value="0">王老师</option>
                            <option value="1">赵老师</option>
                        </select>
                    </div>
                    <div class="col-sm-3 problemtables">
                        学科:                               
                        <select class="sel" id="selClass">
                            <option value="0">数学</option>
                            <option value="1">语文</option>
                        </select>
                    </div>
                    <div class="col-sm-3 problemtables">
                        截止日期:                               
                        <input type="date" class="datestyle" id="txtdate">
                    </div>
                    <!--<div class="col-sm-3 problemtables">
                        截止时间:                               
                        <input type="time" class="datestyle" id="txttime">
                    </div>-->
                </div>
                <div class="row problemtable">
                    <div class="col-sm-1" style="text-align: center;">
                        标题:                   
                    </div>
                    <div class="col-sm-11">
                        <input type="text" class="protexts" id="txtTitle">
                    </div>
                </div>
                <div class="row problemtable">
                    <div class="col-sm-1" style="text-align: center;">
                        内容:                    
                    </div>
                    <div class="col-sm-11">
                        <textarea class="proarea" id="txtContents"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 tjfj">
                        <img style="height: 20px;" src="images/fj.png" />
                        <a href="#" style="">添加附件</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="margin-top: 15px; height: 70px;">
                        <p>问题奖励:</p>
                        <!--<img style="width: 190px;" src="images/gdt.png" />
                        <span style="font-size: 18px; color: #F9AE26;">3元 </span>-->
                        <input type="hidden" class="single-slider" value="5" />
                        <!-- <button id="g1">获取值</button>-->
                        <!--<select class="sel" id="selmoney">
                            <option value="1">一元</option>
                            <option value="2">二元</option>
                            <option value="3">三元</option>
                            <option value="4">四元</option>
                            <option value="5">五元</option>
                            <option value="6">六元</option>
                            <option value="7">七元</option>
                            <option value="8">八元</option>
                            <option value="9">九元</option>
                            <option value="10">十元</option>
                        </select>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="text-align: center;">
                        <a data-toggle="modal" class="btn btn-warning" style="width: 30%; margin-bottom: 15px;" onclick="submitQuestion()">提交</a>
                    </div>
                </div>
            </div>
            <div class=" row profont">
                <p class="proknow">提问须知:</p>
                <p class="konwfont">
                    1.为了达到更好的效果，我们只提供为您讲过课的老师供您选择。        
                </p>
                <p class="konwfont">
                    2.请将您的问题以附件形式或文字形式提供给老师，以便老师能够更好的为您作答。              
                </p>
                <p class="konwfont">
                    3.问题结束后请及时给予评价，我们将根据您的建议来提高为您服务的水平。               
                </p>
                <p class="konwfont">
                    4.其它不确定事宜或者投诉请联系客服。                 
                </p>
            </div>
        </div>
    </div>
    {{template "footer.html" .}}   
    <script src="b/js/jquery.min.js"></script>
    <script src="b/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/personal.js"></script>
    <script type="text/javascript" src="js/orange.js"></script>
    <script src="js/jquery.range.js"></script>
    <script src="jquery.range.js"></script>
    <script type="text/javascript">

        $('.single-slider').jRange({
            from: 0,
            to: 20,
            step: 0.5,
            scale: [0, 5, 10, 15, 20],
            format: '%s',
            width: 400,
            showLabels: true,
            showScale: true
        });

        $("#g1").click(function () {
            var aa = $(".single-slider").val();
            //alert(aa);
        });
        var userid = getCookie("userid")//获取登录用户主键id
        window.onload = function () {
            getuser();
            setTitleOnSelect(3);
            if (userid == null || userid <= 0) {
                window.location.href = "http://{{.Website}}/";
            }
            chushi();
        }
        function chushi() {
            var allteacher = "http://{{.Website}}/orange/onlinecourserecord/GetOnlinecourserecordTeacherByUid/" + userid;
            $.getJSON(allteacher, function (datateacher) {
                var teachername = '<option value=0">请选择</option>';
                for (var i = 0; i < datateacher.length ; i++) {
                    var itmeop = '<option value="' + datateacher[i]["UserIdPassive"] + '">' + datateacher[i]["UserName"] + '</option>';
                    teachername = teachername + itmeop;
                }
                document.getElementById("selteacher").innerHTML = "";
                $("#selteacher").append(teachername);
            });
            var allClass = "http://{{.Website}}/orange/course/GetAllCourse/1/100/";
            $.getJSON(allClass, function (datacour) {
                var allclassstr = '<option value=0">请选择</option>';
                for (var j = 0; j < datacour.length; j++) {
                    var itmecour = '<option value="' + datacour[j]["Id"] + '">' + datacour[j]["CourseName"] + '</option>';
                    allclassstr = allclassstr + itmecour;
                }
                document.getElementById("selClass").innerHTML = "";
                $("#selClass").append(allclassstr);
            });
        }
        //提交提问信息
        function submitQuestion() {
            var tiwenuserid = userid;//学生id
            var laoshiid = document.getElementById("selteacher").value;
            var classid = document.getElementById("selClass").value;
            var title = trim(document.getElementById("txtTitle").value);
            var contents = document.getElementById("txtContents").value;
            var money = $(".single-slider").val();
            var date = document.getElementById("txtdate").value;
            //var time = document.getElementById("txttime").value;
            //获取余额是否足够支付问题
            var getyue = "http://{{.Website}}/orange/accountfunds/GetAccountfundsByuid/" + userid;
            $.getJSON(getyue, function (getdate) {
                if (getdate != null) {
                    if (getdate["Balance"] >= money) {
                        var time = new Date(getInsertDate(date + " " + "00:00:00"));
                        var str = "";
                        if (time != null) { str = getInsertDate(date + " " + "00:00:00"); } else { str = getInsertNowDate(); }
                        var addquestion = '{"AskUserId":' + tiwenuserid +
                                          ',"AnswerUserId":' + laoshiid +
                                          ',"GCId":' + classid +
                                          ',"Title":"' + title +
                                          '","Contents":"' + contents +
                                          '","BadeTime":"' + getInsertNowDate() +
                                          '","EndTime":"' + str +
                                          '","AmountMoney":' + money +
                                          ',"IsSee":0' +
                                          '}';
                        $.post("http://{{.Website}}/orange/questionask/AddQuestionask/", addquestion,
                            function (data) {
                                if (data["id"] > 0) {
                                    var adddongjie = '{"UserId":' + tiwenuserid +
                                                                ',"FrozenMoney":' + money +
                                                                ',"FrozenType":1' +
                                                                ',"BusinessId":' + data["id"] +
                                                                ',"FrozenTime":"' + getInsertNowDate() +
                                                                '","FrozenState":1' +
                                                                '}';
                                    $.post("http://{{.Website}}/orange/frozenfunds/AddUserFrozenfunds/", adddongjie,
                                        function (data) {
                                            if (data["id"] > 0) {
                                            }
                                        });
                                    alert("提问成功！");
                                    window.location.href = "http://{{.Website}}/orange/Teacher/UserAskQuestion/";
                                } else {
                                    alert("提问失败！");
                                }
                            });
                    } else {
                        alert("账户余额不足，不能满足此次提问消费，请先充值！");
                    }
                } else {
                    alert("没有账户信息！");
                }
            });
        }
    </script>
</body>
</html>
