<!doctype html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/C_132.png">

    <title>在线教育</title>
    <link href="b/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/otherstyle.css" />
</head>

<body>
    {{template "menutop.html" .}}
    <div id="pagetopb">
        <div class="container containers" style="margin-top: 20px; background-color: #FFFFFF;">
            <div class="row registerimg">
                <div class="rol-sm-10">
                    <img style="width: 80%;" src="images/Register.jpg" />
                </div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class=" col-sm-1"></div>
                <div class="col-sm-10 regtab">
                    <img src="images/zcimg.png" />
                    <span>学生/家长注册</span>
                </div>
                <div class=" col-sm-1"></div>
            </div>
            <div class=" row registertab">
                <div class=" col-sm-1"></div>
                <div class=" col-sm-2 odd"> &nbsp;&nbsp;&nbsp;手机号： </div>
                <div class=" col-sm-7 odd">
                    <input type="text" class="form-control regtext" id="userphone" onblur="upColor()">
                </div>
                <div class=" col-sm-2 odder"><span id="errphone"></span></div>
            </div>
            <div class="row">
                <div class=" col-sm-1"></div>
                <div class=" col-sm-2 odd">&nbsp;&nbsp;&nbsp;验证码：</div>
                <div class=" col-sm-7 odd">
                                               	
                    <input type="text" class="yzmtext" id="useryanzheng">
                    <input type="button" id="getyanzheng" class="yzmbtn" value="点击获取验证码">
                    <script type="text/javascript">                       
                        var wait = 60;
                        function time(o) {
                            if (wait == 0) {
                                o.removeAttribute("disabled");
                                o.value = "点击获取验证码";
                                wait = 60;
                            } else {
                                o.setAttribute("disabled", true);
                                o.value = "重新发送(" + wait + ")";
                                wait--;
                                if (wait == 0) {
                                    delPhoneVerifica();
                                }
                                setTimeout(function () {
                                    time(o)
                                },
                                1000)
                            }
                        }
                        document.getElementById("getyanzheng").onclick = function () {
                            getYzCode();                           
                        }
                    </script>
                </div>
                <div class=" col-sm-2">&nbsp;</div>
            </div>
            <div class="row">
                <div class=" col-sm-1"></div>
                <div class=" col-sm-2 odd">注册身份：</div>
                <div class=" col-sm-7 odd">
                                                	
                <input type="radio" name="identityname" value="学生" checked="checked">
                    学生 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                            
                <input type="radio" name="identityname" value="家长">
                    家长                       
                </div>
            </div>
            <div class="row">
                <div class=" col-sm-1"></div>
                <div class=" col-sm-2 odd">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;昵称： </div>
                <div class=" col-sm-7 odd">
                                              	
                    <input type="text" class="form-control regtext" id="usernicheng" onblur="checkName()">
                </div>
                <div class=" col-sm-2 odder"><span id="errnicheng"></span></div>
            </div>
            <div class="row">
                <div class=" col-sm-1"></div>
                <div class=" col-sm-2 odd">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;密码：</div>
                <div class=" col-sm-7 odd">
                                              	
                    <input type="password" class="form-control regtext" id="userpasword"  onblur="checkPass()">
                </div>
                <div class=" col-sm-2 odder"><span id="errpass"></span></div>
            </div>
            <div class="row">
                <div class=" col-sm-2"></div>
                <div class=" col-sm-8 even">
                    <input type="checkbox" checked="checked" id="yueducheck">
                    我已阅读并接受<a class="rega" onclick="javascript:window.open('http://{{.Website}}/orange/Main/RegisteredLinefwtk/');">网站服务条款</a>
                </div>
            </div>
            <div class="row">
                <div class=" col-sm-2"></div>
                <div class=" col-sm-8 even" style="margin-bottom: 35px;">
                    <input type="button" class="regbtn evabtn" onclick="UserRegistered()" value="立即注册" />
                </div>
            </div>
        </div>
    </div>
    {{template "footer.html" .}}
    <script src="b/js/jquery.min.js"></script>
    <!--<script src="b/js/bootstrap.min.js"></script>-->
    <script type="text/javascript" src="js/indexjs.js"></script>
    <script type="text/javascript" src="js/orange.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript">
        window.onload = function () { getuser();setTitleOnSelect(4); }//
        var xianColor = "#fe9627";
        var yinColor = "#c4c4c4";
        var identityS = 2;
        var identityJ = 3;
        var phoneistorf = 0;//false 是否发送验证码
        //验证手机号码，并且改变获取验证码按钮的颜色
        function upColor() {
            var istorfs = false;
            var phone = trim(document.getElementById("userphone").value);
            var re = /^1\d{10}$/;
            if (phone != "") {
                if (re.test(phone)) {
                    //格式验证成功后验证数据库是否已有人注册此手机号了
                    var geturlphont = "http://{{.Website}}/orange/userinformation/GetUserinformationByPhone/" + phone;
                    $.getJSON(geturlphont, function (data) {
                        if (data != null && data["result"] > 0) {
                            document.getElementById("getyanzheng").style.backgroundColor = yinColor;//手机号码输入错误获取验证码按钮不显色
                            seterrMessage("errphone", "*此手机号已注册！");
                            phoneistorf = 0;
                        } else {
                            istorfs = true;
                            document.getElementById("getyanzheng").style.backgroundColor = xianColor;//手机号码输入正确获取验证码按钮变为显色
                            phoneistorf = 1;
                            seterrMessage("errphone", "");
                        }
                    });
                } else {
                    document.getElementById("getyanzheng").style.backgroundColor = yinColor;//手机号码输入错误获取验证码按钮不显色
                    seterrMessage("errphone", "*手机号输入有误！");
                    phoneistorf = 0;
                }
            } else {
                seterrMessage("errphone", "*手机号不能为空！");
                phoneistorf = 0;
            }
            return istorfs;
        }

        //检查姓名是否已被注册
        function checkName() {
            var usernicheng = trim(document.getElementById("usernicheng").value);
            if (usernicheng != "") {
                var geturlname = "http://{{.Website}}/orange/userinformation/GetUserinformationByUserName/" + usernicheng;
                $.getJSON(geturlname, function (data) {
                    if (data != null && data["result"] > 0) {
                        seterrMessage("errnicheng", "*此昵称已有人使用！");
                    } else {
                        seterrMessage("errnicheng", "");
                    }
                });
            } else {
                seterrMessage("errnicheng", "*用户名不能为空！");
            }
        }

        //检查密码是否已被注册
        function checkPass() {
            var userpasword = trim(document.getElementById("userpasword").value);
            if (userpasword != "") {
                if (isPasswd(trim(userpasword)) == false) {
                    seterrMessage("errpass", "*密码有误（由字母、数字或下划线组成，长度必须大于6位且小于20位）！！");
                } else {
                    seterrMessage("errpass", "");
                }
            } else {
                seterrMessage("errpass", "*密码不能为空！");
            }
        }

        var nowPhone = "";//为了保证删除时删除的是发送时的手机号
        function getYzCode() {
            var phone = document.getElementById("userphone").value;
            nowPhone = phone;
            var istorf = true;
            if (phoneistorf == 1) {
                $.getJSON("http://{{.Website}}/orange/verification/GetVerification/" + phone, function (data) {
                    alert("发送成功");
                    var btn = document.getElementById("getyanzheng");
                    time(btn);
                });
            } else {
                istorf = false;
                alert("手机号输入不正确！请输入正确手机号码！");                
            }
            return istorf;
        }

        //验证码倒计时结束后删除此手机下的所有验证信息
        function delPhoneVerifica() {
            $.getJSON("http://{{.Website}}/orange/verification/DeleteVerificationByPhone/" + nowPhone, function (data) {
               
            });            
        }

        //控制错误控件显示内容,参数：控件名称，要显示的文字
        function seterrMessage(errdoname,showMessage) {
            document.getElementById(errdoname).innerHTML = "";
            document.getElementById(errdoname).innerHTML = showMessage;
        }
        //注册方法
        function UserRegistered() {
            var userphone = document.getElementById("userphone").value;
            var useryanzheng = document.getElementById("useryanzheng").value;
            var identyityvalue = identityS;
            if (document.getElementsByName("identityname")[0].checked) {
                identyityvalue = identityS;
            } else {
                identyityvalue = identityJ;
            }
            var usernicheng = trim(document.getElementById("usernicheng").value);
            var userpasword = trim(document.getElementById("userpasword").value);
            var errname = document.getElementById("errnicheng").innerHTML;
            if (trim(userphone) == "" || phoneistorf == 0) {
                alert("请正确输入手机号码！"); return;
            } else if (trim(useryanzheng) + "" == "") {
                alert("请正确输入验证码！"); return;
            } else if (usernicheng + "" == "" || userpasword + "" == "") {
                alert("请正确输入用户名和密码！"); return;
            } else if (!usernicheng.match(/^[\u4E00-\u9FA5a-zA-Z0-9_]{2,20}$/)) {
                alert("用户名只能为汉字 英文字母 数字 下划线组成，长度为2-20位！"); return;
            }else if (isPasswd(userpasword) == false) {
                alert("密码有误（密码必须由字母、数字或下划线组成，长度必须大于6位且小于20位）！"); return;
            } else if (document.getElementById("yueducheck").checked == false) {
                alert("请选择是否同意网站服务条款！"); return;
            } else if (errname != "") {
                alert("此昵称已有人使用！"); return;
            } else {
                //先验证验证码是否正确
                var allCode = "http://{{.Website}}/orange/verification/GetVerificationByPhone/" + userphone;
                //alert(allCode);
                $.getJSON(allCode, function (data) {
                    if (data["VerCode"] == "") {
                        alert("暂无验证码！");
                    } else if (useryanzheng == data["VerCode"]) {
                        //alert("验证码正确开始注册！");
                        //开始注册用户
                        var adduser = '{"UserName":"' + usernicheng +
                                    '","IphoneNum":"' + userphone +
                                    '","LoginPassword":"' + userpasword +
                                    '","UserSex":"' + "男" +
                                    '","IdentityId":' + identyityvalue +
                                    ',"RegisteredTime":"' + getInsertNowDate() +
                                    '"}';
                        $.post("http://{{.Website}}/orange/userinformation/AddUserinformation/", adduser,
                            function (data) {
                                //alert(data["id"]);
                                if (data["id"] > 0) {
                                    alert("注册成功！请去首页登录！");
                                    delPhoneVerifica();//删除注册号码的验证码
                                    window.location.href = "http://{{.Website}}/";
                                } else {
                                    alert("注册失败！");
                                }
                        });
                        //结束注册用户
                    } else {
                        alert("验证码不正确，请重新获取验证码！");
                    }                                       
                });
            }
        }

        function setFuwu() {
            alert("shuia ");
        }
    </script>
</body>
</html>
