<!doctype html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/C_132.png">
    <title>在线教育</title>
    <link href="b/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/otherstyle.css" />
</head>
<body>
    {{template "menutop.html" .}}
   
    <!--弹出层-->
    <!--预约弹出层-->
    <div class="modal fade" id="setMeetdiv" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 style="font-size: 16px; font-weight: bold;" class="modal-title">设置预约</h3>
                </div>
                <div class="modal-body">
                    <table class="stutablepop">
                        <tr>
                            <td id="showtext">将此时段设置为：
                            </td>
                        </tr>
                    </table>
                    <table class="reserpoptabsss" cellspacing="0">
                        <tr style="display: none;">
                            <td>
                                <input type="radio" name="torf" id="rdoyes" aria-readonly="true">可约</td>
                            <td>
                                <input type="radio" name="torf" id="rdono" aria-readonly="true">不可约</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer" style="text-align: center;">
                    <button type="button" style="width: 30%;" class=" btn btn-warning" onclick="setMeetTrueorFalse()" data-dismiss="modal">确定</button>
                    <button type="button" style="width: 30%;" class=" btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <div id="bg" class="bg" style="display: none;"></div>
    <!--弹出层结束-->
    <div id="pagetopb">
        <div class="Navigation">
            <!--个人资料-->
            <div class='container'>
                <div style="margin-top: 20px; background-color: #FFFFFF; padding-top: 20px;">
                    <table class="resermain" style="margin-top: 15px;">
                        <tr>
                            <td style="width: 50%; text-align: left;">授课时间表
                            </td>
                            <td>
                                <div class="arrow-upyys"></div>
                            </td>
                            <td style="text-align: left;">&nbsp;&nbsp;可约
                            </td>
                            <td>
                                <div class="arrow-upyy"></div>
                            </td>
                            <td style="text-align: left;">&nbsp;&nbsp;已约
                            </td>
                            <td>
                                <div class="arrow-upzys"></div>
                            </td>
                            <td style="text-align: left;">&nbsp;&nbsp;不可约
                            </td>
                        </tr>
                    </table>
                    <table class="reaervationtable" cellspacing="0" id="tableone">
                    </table>
                    <table class="resermain">
                        <tr>
                            <td style="width: 70%; text-align: left;" id="tabletwotitle"></td>
                        </tr>
                    </table>
                    <table class="reaervationtable" cellspacing="0" id="tabletwo">
                    </table>
                    <table class="resermain">
                        <tr>
                            <td style="width: 70%; text-align: left;" id="tablethteetitle"></td>
                        </tr>
                    </table>
                    <table class="reaervationtable" cellspacing="0" id="tablethree">
                    </table>
                    <div class="profonts">
                        <p class="proknow">预约一对一辅导须知:</p>
                        <p class="konwfont">
                            1. 预约在线课程按照预约课时冻结费用（每课时50分钟）。课时费将按实际上课时间计费（以分钟为单位计费，可以为您省去不必要的花销），剩余课时费将及时转入您的账户。                   
                       
                        </p>
                        <p class="konwfont">
                            2. 您可以在课程开始时间24小时之前随时取消预约课（不收取任何额外费用）。                 
                       
                        </p>
                        <p class="konwfont">
                            3. 为了您能选择合适的老师请在预约前多与老师沟通。                 
                       
                        </p>
                        <p class="konwfont">
                            4.为了提高您的学习效率，请一定将您需要学习的内容以文字或者附件形式上传给老师，以便老师提前进行备课。                   
                       
                        </p>
                        <p class="konwfont">
                            5. 课程结束后请及时给予评价和建议，我们将根据您的建议来提高为您服务的水平。              
                       
                        </p>
                        <p class="konwfont">
                            6. 其它不确定事宜请联系客服。                   
                       
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{template "footer.html" .}}
   
    <script src="b/js/jquery.min.js"></script>
    <!--<script src="b/js/bootstrap.min.js"></script>-->
    <script type="text/javascript" src="js/personal.js"></script>
    <script type="text/javascript" src="js/jquery-1.3.1.js"></script>
    <script type="text/javascript" src="js/orange.js"></script>
    <script type="text/javascript" src="js/indexjs.js"></script>
    <script type="text/ecmascript">
        var userid = getCookie("userid")//获取登录用户主键id
        //var userid = 1;
        window.onload = function () {
            getuser();
            setTitleOnSelect(4);
            if (userid == null || userid <= 0) {
                window.location.href = "http://{{.Website}}/";
            }
            setMeetState();
            settable1();
        }
        var week = "7123456".split("")[new Date().getDay()];//获取今天是周几
        var timeone1 = '09:00';
        var timeone2 = '10:00';
        var timetwo1 = '10:00';
        var timetwo2 = '11:00';
        var timethree1 = '11:00';
        var timethree2 = '12:00';
        var timefour1 = '13:00';
        var timefour2 = '14:00';
        var timefive1 = '14:00';
        var timefive2 = '15:00';
        var timesex1 = '15:00';
        var timesex2 = '16:00';
        var timeseven1 = '16:00';
        var timeseven2 = '17:00';
        var timeeight1 = '17:00';
        var timeeight2 = '18:00';
        var timenine1 = '18:00';
        var timenine2 = '19:00';
        var timelist1 = [timeone1, timetwo1, timethree1, timefour1, timefive1, timesex1, timeseven1, timeeight1, timenine1];
        var timelist2 = [timeone2, timetwo2, timethree2, timefour2, timefive2, timesex2, timeseven2, timeeight2, timenine2];

        var timeone1a = '09:00';
        var timeone2a = '09:50';
        var timetwo1a = '10:00';
        var timetwo2a = '10:50';
        var timethree1a = '11:00';
        var timethree2a = '11:50';
        var timefour1a = '13:00';
        var timefour2a = '13:50';
        var timefive1a = '14:00';
        var timefive2a = '14:50';
        var timesex1a = '15:00';
        var timesex2a = '15:50';
        var timeseven1a = '16:00';
        var timeseven2a = '16:50';
        var timeeight1a = '17:00';
        var timeeight2a = '17:50';
        var timenine1a = '18:00';
        var timenine2a = '18:50';
        var timelist1a = [timeone1a, timetwo1a, timethree1a, timefour1a, timefive1a, timesex1a, timeseven1a, timeeight1a, timenine1a];
        var timelist2a = [timeone2a, timetwo2a, timethree2a, timefour2a, timefive2a, timesex2a, timeseven2a, timeeight2a, timenine2a];
        //设置预约状态
        function setMeetState() {
            var list1 = getdate(7 - ((7 - week) + 1));
            var list2 = getdate2(0, (7 - (week - 1)));
            for (var i = 0; i < list2.length; i++) {
                list1.push(list2[i]);
            }
            //--------------设置第一个table------------------------------------
            var tableonehtml = "<tr><td>&nbsp;</td>";
            tableonehtml += '<td>星期一<p>' + getmonthday(list1[0]) + '</p></td>';
            tableonehtml += '<td>星期二<p>' + getmonthday(list1[1]) + '</p></td>';
            tableonehtml += '<td>星期三<p>' + getmonthday(list1[2]) + '</p></td>';
            tableonehtml += '<td>星期四<p>' + getmonthday(list1[3]) + '</p></td>';
            tableonehtml += '<td>星期五<p>' + getmonthday(list1[4]) + '</p></td>';
            tableonehtml += '<td>星期六<p>' + getmonthday(list1[5]) + '</p></td>';
            tableonehtml += '<td>星期日<p>' + getmonthday(list1[6]) + '</p></td></td>';
            var classstyle = "arrow-upno";
            for (var j = 0; j < timelist1.length; j++) {//外层循环时间节点
                tableonehtml += '<tr><td>' + timelist1[j] + '--' + timelist2a[j] + '</td>';
                for (var i = 0; i < list1.length; i++) {//循环第一周
                    var itemdd = '';
                    itemdd = '<td style="text-align: center;">' +
                             '<a data-toggle="modal" data-target="#setMeetdiv"  onclick="getvalue(' + "'" + "txtvalueone" + i + j + "'" + ',' + "'" + list1[i] + "'," + j + ',' + "'" + "divtableone" + i + j + "'" + ')">' +
                             '<div id="divtableone' + i + '' + j + '" class="' + classstyle + '"></div>' +
                             '<span id="txtvalueone' + i + '' + j + '">不可约</span></a></td>';
                    tableonehtml += itemdd;
                }
                tableonehtml += '</tr>';
            }
            document.getElementById("tableone").innerHTML = "";
            document.getElementById("tableone").innerHTML = tableonehtml;
            //--------------设置第一个table结束-------------------------------------

            //--------------设置第二个table开始------------------------------------
            var list3 = getdate2((7 - week + 1), 7);
            var title = list3[0] + "—" + list3[6] + "课程安排表";
            document.getElementById("tabletwotitle").innerText = title;
            var tabletwohtml = "<tr><td>&nbsp;</td>";
            tabletwohtml += '<td>星期一<p>' + getmonthday(list3[0]) + '</p></td>';
            tabletwohtml += '<td>星期二<p>' + getmonthday(list3[1]) + '</p></td>';
            tabletwohtml += '<td>星期三<p>' + getmonthday(list3[2]) + '</p></td>';
            tabletwohtml += '<td>星期四<p>' + getmonthday(list3[3]) + '</p></td>';
            tabletwohtml += '<td>星期五<p>' + getmonthday(list3[4]) + '</p></td>';
            tabletwohtml += '<td>星期六<p>' + getmonthday(list3[5]) + '</p></td>';
            tabletwohtml += '<td>星期日<p>' + getmonthday(list3[6]) + '</p></td></td>';
            for (var j = 0; j < timelist1.length; j++) {//外层循环时间节点
                tabletwohtml += '<tr><td>' + timelist1[j] + '--' + timelist2a[j] + '</td>';
                for (var i = 0; i < list3.length; i++) {//循环第二周
                    //alert(list3[i]);
                    var itemtt = '<td style="text-align: center;">' +
                                '<a data-toggle="modal" data-target="#setMeetdiv" onclick="getvalue(' + "'" + "txtvaluetwo" + i + j + "'" + ',' + "'" + list3[i] + "'," + j + ',' + "'" + "divtabletwo" + i + j + "'" + ')">' +
                                '<div id="divtabletwo' + i + '' + j + '" class="arrow-upno"></div>' +
                                '<span id="txtvaluetwo' + i + '' + j + '">不可约</span></a></td>';
                    tabletwohtml += itemtt;
                }
                tabletwohtml += '</tr>';
            }
            document.getElementById("tabletwo").innerHTML = "";
            document.getElementById("tabletwo").innerHTML = tabletwohtml;

            //--------------设置第二个table结束------------------------------------

            //--------------设置第三个table开始------------------------------------
            var list4 = getdate2((7 - week + 1) + 7, 7);
            var title = list4[0] + "—" + list4[6] + "课程安排表";
            document.getElementById("tablethteetitle").innerText = title;
            var tablethreehtml = "<tr><td>&nbsp;</td>";
            tablethreehtml += '<td>星期一<p>' + getmonthday(list4[0]) + '</p></td>';
            tablethreehtml += '<td>星期二<p>' + getmonthday(list4[1]) + '</p></td>';
            tablethreehtml += '<td>星期三<p>' + getmonthday(list4[2]) + '</p></td>';
            tablethreehtml += '<td>星期四<p>' + getmonthday(list4[3]) + '</p></td>';
            tablethreehtml += '<td>星期五<p>' + getmonthday(list4[4]) + '</p></td>';
            tablethreehtml += '<td>星期六<p>' + getmonthday(list4[5]) + '</p></td>';
            tablethreehtml += '<td>星期日<p>' + getmonthday(list4[6]) + '</p></td></td>';
            for (var j = 0; j < timelist1.length; j++) {//外层循环时间节点
                tablethreehtml += '<tr><td>' + timelist1[j] + '--' + timelist2a[j] + '</td>';
                for (var i = 0; i < list4.length; i++) {//循环第三周
                    //alert(list4[i]);
                    var itemrr = '<td style="text-align: center;">' +
                                '<a data-toggle="modal" data-target="#setMeetdiv" onclick="getvalue(' + "'" + "txtvaluethree" + i + j + "'" + ',' + "'" + list4[i] + "'," + j + ',' + "'" + "divtablethree" + i + j + "'" + ')">' +
                                '<div id="divtablethree' + i + '' + j + '" class="arrow-upno"></div>' +
                                '<span id="txtvaluethree' + i + '' + j + '">不可约</span></a></td>';
                    tablethreehtml += itemrr;
                }
                tablethreehtml += '</tr>';
            }
            document.getElementById("tablethree").innerHTML = "";
            document.getElementById("tablethree").innerHTML = tablethreehtml;
            //--------------设置第三个table结束------------------------------------
        }
        function settable1() {
            var list1 = getdate(7 - ((7 - week) + 1));
            var list2 = getdate2(0, (7 - (week - 1)));
            var list3 = getdate2((7 - week + 1), 7);
            var list4 = getdate2((7 - week + 1) + 7, 7);
            for (var i = 0; i < list2.length; i++) {
                list1.push(list2[i]);
            }
            var allteacherlist = "http://{{.Website}}/orange/onlinecoursebooking/GetOnlinecoursebookingByTidTime/" + userid + "/" + list1[0] + ' 00:00:00';
            //alert(allteacherlist);
            $.getJSON(allteacherlist, function (data) {
                if (data != null) {
                    for (var j = 0; j < timelist1.length; j++) {//外层循环时间节点
                        for (var i = 0; i < list1.length; i++) {//循环第一周
                            for (var a = 0; a < data.length; a++) {
                                var texttime = getInsertDate(data[a]["StartTime"]);
                                var nowstarttime = getInsertDate((list1[i] + " " + timelist1[j] + ":00").replace(/-/g, "/"));//第一周第一个日期
                                var nowstartimetwotable = getInsertDate((list3[i] + ' ' + timelist1[j] + ':00').replace(/-/g, "/"));//第二周第一个日期
                                var nowstartimethreetable = getInsertDate((list4[i] + " " + timelist1[j] + ":00").replace(/-/g, "/"));//第三周第一个日期
                                if (texttime == nowstarttime) {
                                    if (data[a]["UserIdActive"] == null || data[a]["UserIdActive"] + "" == "0") {
                                        document.getElementById("divtableone" + i + j).className = "arrow-ups";
                                        document.getElementById("txtvalueone" + i + j).innerText = "可约";
                                        document.getElementById("txtvalueone" + i + j).tag = data[a]["Id"];
                                    } else if (data[a]["UserIdActive"] > 0) {
                                        document.getElementById("divtableone" + i + j).className = "arrow-upyiyue";
                                        document.getElementById("txtvalueone" + i + j).innerText = "已约";
                                        document.getElementById("txtvalueone" + i + j).tag = data[a]["Id"];
                                    }
                                    else {
                                        document.getElementById("divtableone" + i + j).className = "arrow-upno";
                                        document.getElementById("txtvalueone" + i + j).innerText = "不可约";
                                        document.getElementById("txtvalueone" + i + j).tag = 0;
                                    }
                                }
                                if (texttime == nowstartimetwotable) {
                                    //alert(data[a]["UserIdActive"]);
                                    if (data[a]["UserIdActive"] == null || data[a]["UserIdActive"] + "" == "0") {
                                        document.getElementById("divtabletwo" + i + j).className = "arrow-ups";
                                        document.getElementById("txtvaluetwo" + i + j).innerText = "可约";
                                        document.getElementById("txtvaluetwo" + i + j).tag = data[a]["Id"];
                                    } else {
                                        document.getElementById("divtabletwo" + i + j).className = "arrow-upyiyue";
                                        document.getElementById("txtvaluetwo" + i + j).innerText = "已约";
                                        document.getElementById("txtvaluetwo" + i + j).tag = data[a]["Id"];
                                    }
                                }
                                if (texttime == nowstartimethreetable) {
                                    if (data[a]["UserIdActive"] == null || data[a]["UserIdActive"] + "" == "0") {
                                        document.getElementById("divtablethree" + i + j).className = "arrow-ups";
                                        document.getElementById("txtvaluethree" + i + j).innerText = "可约";
                                        document.getElementById("txtvaluethree" + i + j).tag = data[a]["Id"];
                                    } else {
                                        document.getElementById("divtablethree" + i + j).className = "arrow-upyiyue";
                                        document.getElementById("txtvaluethree" + i + j).innerText = "已约";
                                        document.getElementById("txtvaluethree" + i + j).tag = data[a]["Id"];
                                    }
                                }
                            }
                        }
                    }
                }
            });
        }

        var nowName = "";//点中文本
        var nowTagid = 0;//有数据的数据主键id
        var nowDate = "";//年月日：2015-11-23
        var timeListIndex = 0;//第一个时间段索引：0-8
        var nowtxtname = ""
        var nowdivname = ""
        var notimeistorf = 0;//此时段是否可操作
        function getvalue(txtname, yearmd, timelistindex, divname) {
            nowtxtname = txtname;
            nowdivname = divname;
            var datetime = new Date((yearmd + " " + timelist1[timelistindex] + ":00").replace(/-/g, "/"));
            var now = new Date();
            if (now <= datetime && now.getDate() != datetime.getDate()) {
                //alert("dianji:" + txtname + document.getElementById(txtname).innerText + document.getElementById(txtname).tag + yearmd + "," + timelistindex);
                var name = document.getElementById(txtname).innerText;
                var tagid = document.getElementById(txtname).tag;
                nowName = name;
                nowTagid = tagid;
                nowDate = yearmd;
                timeListIndex = timelistindex;
                notimeistorf = 1;
                if (name == "已约") {
                    document.getElementById("showtext").innerHTML = "<td><span>用户已约，不能再修改状态！</span></td>";
                } else if (name == "不可约") {
                    //var showhtml = '<td><input type="radio" name="torf" id="rdoyes" checked="checked" disabled readonly="true">可约</td><td><input type="radio" name="torf" id="rdono"disabled readonly="true">不可约</td>'
                    var showhtml = '您要将此时段设置为可约么？'
                    document.getElementById("showtext").innerHTML = showhtml;
                } else if (name == "可约") {
                    //var showhtml = '<td><input type="radio" name="torf" id="rdoyes" disabled readonly="true">可约</td><td><input type="radio" name="torf" id="rdono" checked="checked" disabled readonly="true">不可约</td>'
                    var showhtml = '您要将此时段设置为不可约么？'
                    document.getElementById("showtext").innerHTML = showhtml;
                }
            }
            else {
                document.getElementById("showtext").innerHTML = "<td><span>此时段不可操作！</span></td>";
                notimeistorf = 0;
            }
        }

        //设置是否可约
        function setMeetTrueorFalse() {
            if (nowName == "已约") {
                //alert("不做操作");
            } else if (nowName == "不可约" && notimeistorf == 1) {
                //alert("不可约改可约");//新增一条数据                
                var stime = getInsertDate((nowDate + ' ' + timelist1[timeListIndex] + ':00').replace(/-/g, "/"));
                var etime = getInsertDate((nowDate + ' ' + timelist2a[timeListIndex] + ':00').replace(/-/g, "/"));
                var addonlinebook = '{"UserIdActive":0,"UserIdPassive":' + userid +
                      ',"ReservationState":0' +
                      ',"Payment":0' +
                      ',"Leaming":0' +
                      ',"PayWay":0' +
                      ',"StartTime":"' + stime +
                      '","EndTime":"' + etime +
                      '","AppointTime":"' + getInsertNowDate() +
                      '"}';
                $.post("http://{{.Website}}/orange/onlinecoursebooking/AddOnlinecoursebooking/", addonlinebook,
                        function (data) {
                            //alert(data["id"]);
                            if (data["id"] > 0) {
                                alert("修改成功！");
                                document.getElementById(nowtxtname).tag = data["id"]
                                document.getElementById(nowtxtname).innerHTML = "可约";
                                document.getElementById(nowdivname).className = "arrow-ups";
                            } else {
                                alert("修改失败！");
                            }
                        });

            } else if (nowName == "可约" && notimeistorf == 1) {
                //alert("可约改不可约");//删除一条数据
                var delonline = "http://{{.Website}}/orange/onlinecoursebooking/DeleteOnlinecoursebooking/" + nowTagid;
                $.getJSON(delonline, function (deldata) {
                    if (deldata != null && deldata == "OK") {
                        alert("修改成功！");
                        document.getElementById(nowtxtname).innerHTML = "不可约";
                        document.getElementById(nowdivname).className = "arrow-upno";
                    }
                    else {
                        alert("修改失败！");
                    }
                });
            }
        }
    </script>
</body>
</html>
