<!doctype html>
<html lang="zh-CN" style="height:100%;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/C_132.png">
    <title>互联网家教平台</title>
</head>
<body style="height:100%;">
        <iframe id="myframe"  style="width:100%; height:100%; margin-left:0;" height="760" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"></iframe>
    
    <script type="text/javascript" src="b/js/jquery.min.js"></script>
    <script type="text/javascript" src="js/indexjs.js"></script>
    <script type="text/javascript" src="js/orange.js"></script>
    <script type="text/javascript">
        var userid = getCookie("userid")//获取登录用户主键id
        var onlineid = getCookie("onlinebookid");//获取预约信息id
        window.onload = function () {
            if (userid == null || userid <= 0) {
                window.location.href = "http://{{.Website}}/";
            }
            chushi()
        }

        function chushi() {
            var getblack = "http://{{.Website}}/orange/onlinecoursebooking/GetOnlineClassTeacherurl/" + onlineid;
            $.getJSON(getblack, function (data) {
                ifrsrc(data["url"]);
                //添加一条课堂时间记录
                var addrecord = '{"OCBId":' + onlineid +
                                ',"UserId":' + userid +
                                ',"StartTime":"' + getInsertNowDate() +
                                '"}';
                $.post("http://{{.Website}}/orange/onlinecoursebookingrecord/AddOnlinecoursebookingrecord/", addrecord,
                    function (data) {
                        if (data["id"] > 0) {
                            
                        } else {
                           
                        }
                });
            });
        }
        //关闭网页时调用此方法，记录老师退出时间
        window.onbeforeunload = function () {
            //关闭网页时，修改老师课堂记录，记录离开时间
            //查找老师最后一次进入信息
            var getblack = "http://{{.Website}}/orange/onlinecoursebookingrecord/GetOnlinecoursebookingrecordByUid2/" + userid + "/" + onlineid;
            $.getJSON(getblack, function (data) {
                if (data != null && data["Id"] > 0) {
                   
                }
            });
        }

        function ifrsrc(aa) {
            document.getElementById("myframe").src = aa;
        }
    </script>
</body>
</html>
